<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="provider" value= "System.Data.SqlClient"/><!--"System.Data.OleDb"-->
      <add key="connectionString" value="Data Source= bor-srv-02; Initial Catalog=AutoLot;
           User ID =sa; Password=Pass01012011"/><!--Provider=SQLOLEDB;-->
    </appSettings>
</configuration>